<div class="row">
  <div class="col-md-12 col-lg-6">
    <nb-card size="small">
      <nb-tabset>
        <nb-tab tabTitle="Suppliers">
          <p>List of all Suppliers</p>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6">
    <nb-card size="small">
      <nb-tabset>
        <nb-tab tabTitle="Distributors">
          <p>List of all Suppliers</p>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>

  <div class="col-12">
    <nb-card size="small">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="More">
          <p><b>List of all Suppliers</b> </p>
        </nb-tab>
        <nb-tab tabTitle="About">
          <span>Content #2</span>
        </nb-tab>
        <nb-tab tabTitle="Project">
          <span>Content #3</span>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
